.bg-nav .list-menu .home:hover,
.bg-nav .list-menu .skill:hover,
.bg-nav .list-menu .portfolio:hover,
.bg-nav .list-menu .contact:hover {
  color: blue;
}

.nav-menu input:checked ~ span {
  background-color: red;
}
