/* animasi di bagian navigation */
nav .menu-toggle span {
display: block;
width: 28px;
height: 3px;
background-color: black;
border-radius: 3px;
-webkit-transition: all .5s;
transition: all .5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

/* animasi di bagian education */
/* sd */
.education .sd img {
    transition: all .6s;
}
.education .sd:hover img {
    height: 50px;
}

.education .sd h1 {
    transition: all .6s;
    transform: scaleY(100%);
}
.education .sd:hover h1 {
    transform: translateY(-50%) scaleY(0);
}
/* smp */
.education .smp img {
    transition: all .6s;
}
.education .smp:hover img {
    height: 50px;
}

.education .smp h1 {
    transition: all .6s;
    transform: scaleY(100%);
}
.education .smp:hover h1 {
    transform: translateY(-50%) scaleY(0);
}
/* sma */
.education .sma img {
    transition: all .6s;
}
.education .sma:hover img {
    height: 50px;
}

.education .sma h1 {
    transition: all .6s;
    transform: scaleY(100%);
}
.education .sma:hover h1 {
    transform: translateY(-50%) scaleY(0);
}