nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    z-index: 2;
    background-color: transparent;
    color: #022746;
  }
  
  nav .nav-brand h1 {
    border: 2px solid #022746;
    padding: 0 5px;
  }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
    margin-left: 100px;
  }
  
  nav ul .nav-item a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px rgba(49, 49, 49, 0.6);
  }
  nav ul a:hover {
    color: #979595;
  }
  
  nav .menu-toggle {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  
  nav .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

.edu::before {
  content:  " ";
  background: url(../img/education1.png) no-repeat;
  background-size: 20px;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 1px 5px 0 0;
}