@media (max-width: 575.98px) {
  .img-html,
  .img-css,
  .img-js,
  .info-html,
  .info-css,
  .info-js {
    margin: 0 auto;
  }

  .info-html,
  .info-css,
  .info-js {
    text-align: center;
  }
}
