@media (max-width: 575.98px) {
  .img-html,
  .img-css,
  .img-js,
  .info-html,
  .info-css,
  .info-js {
    margin: 0 auto;
  }

  .info-html,
  .info-css,
  .info-js {
    text-align: center;
  }
}

@media (max-width: 320px) {
  html {
    max-width: 320px;
    overflow-x: hidden;
  }
  nav.navbar {
    max-width: 320px;
  }
}

@media (min-width: 400px) and (max-width: 401px) {
  html {
    max-width: 400px;
    overflow-x: hidden;
  }
  nav.navbar {
    max-width: 400px;
  }
}
