@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.hero {
  margin-top: 45px;
  padding-top: 5vh;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero .profile {
  width: 200px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.info-panel {
  background-color: white;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -60px;
  padding: 30px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.info-panel .col-lg img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.info-panel .col-lg h4 {
  font-size: 17px;
}

.info-panel .col-lg p {
  font-size: 15px;
  color: #a0a0a0;
}

.info-panel.appear {
  opacity: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

#skill {
  padding-top: 60px;
}

#skill .img-html,
#skill .img-css,
#skill .img-js {
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#skill .info-html,
#skill .info-css,
#skill .info-js {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#skill .img-html.appear,
#skill .img-css.appear,
#skill .img-js.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#skill .info-html.appear,
#skill .info-css.appear,
#skill .info-js.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#portfolio {
  margin-top: 50px;
  padding-top: 60px;
  text-align: center;
}

#portfolio .card {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

#portfolio .c1,
#portfolio .c2,
#portfolio .c3 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

#portfolio .c2 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#portfolio .c3 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#portfolio .c1.appear,
#portfolio .c2.appear,
#portfolio .c3.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#contact {
  margin-top: 50px;
  padding-top: 60px;
}

#contact .instagram {
  text-decoration: none;
  color: #464646;
  font-size: 1.4em;
  height: 30px;
}

#contact .instagram::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/instagram.png);
  background-size: cover;
  margin-right: 6px;
}

#contact .instagram:hover {
  color: blue;
}

#contact .github {
  text-decoration: none;
  color: #464646;
  font-size: 1.4em;
  height: 30px;
}

#contact .github::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/github.png);
  background-size: cover;
  margin-right: 6px;
}

#contact .github:hover {
  color: blue;
}

#contact .gmail {
  text-decoration: none;
  color: #464646;
  font-size: 1.4em;
  height: 30px;
}

#contact .gmail::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/gmail.png);
  background-size: cover;
  margin-right: 6px;
}

#contact .gmail:hover {
  color: blue;
}

#contact form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 40px;
  color: #464646;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

#contact label {
  margin-top: 20px;
}

#contact label,
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  display: block;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: inherit;
  border: 1px solid black;
}

#contact textarea {
  height: 100px;
}

#contact button {
  background-color: lightseagreen;
  margin-top: 30px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-family: inherit;
}

#contact button:hover {
  background-color: lightskyblue;
}

#contact form,
#contact .instagram,
#contact .github,
#contact .gmail {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#contact form.appear,
#contact .instagram.appear,
#contact .github.appear,
#contact .gmail.appear {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer {
  text-align: center;
  line-height: 30px;
  height: 30px;
  background-color: lightblue;
}
/*# sourceMappingURL=style.css.map */