nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;

  .nav-brand {
    margin-left: 10vw;
  }

  ul {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-right: 10vw;

    .nav-list {
      list-style: none;
      margin: auto;
    }
  }
}
