@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

// jumbotron
.hero {
  margin-top: 45px;
  padding-top: 5vh;
  height: 80vh;
  flex-direction: column;
  background-image: url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .profile {
    width: 200px;
    margin: 0 auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}

// info panel
.info-panel {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -60px;
  padding: 30px;
  z-index: 2;
  opacity: 1;
  transition: 1.5s all;
  transform: translateY(0);

  .col-lg img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .col-lg h4 {
    font-size: 17px;
  }

  .col-lg p {
    font-size: 15px;
    color: rgb(160, 160, 160);
  }
}

.info-panel.appear {
  opacity: 0;
  transform: translateY(-500px);
}

// Skills
#skill {
  padding-top: 60px;

  .img-html,
  .img-css,
  .img-js {
    opacity: 0;
    transform: translateX(-200px);
    transition: 0.5s all;
  }

  .info-html,
  .info-css,
  .info-js {
    opacity: 0;
    transform: translateX(200px);
    transition: 0.5s all;
  }

  .img-html.appear,
  .img-css.appear,
  .img-js.appear {
    opacity: 1;
    transform: translateX(0);
  }

  .info-html.appear,
  .info-css.appear,
  .info-js.appear {
    opacity: 1;
    transform: translateX(0);
  }
}

// Portfolio
#portfolio {
  margin-top: 50px;
  padding-top: 60px;
  text-align: center;

  .card {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  }

  .c1,
  .c2,
  .c3 {
    opacity: 0;
    transition: 0.3s;
    transform: translateY(-100px);
  }

  .c2 {
    transition-delay: 0.2s;
  }
  .c3 {
    transition-delay: 0.3s;
  }

  .c1.Cappear,
  .c2.Cappear,
  .c3.Cappear {
    opacity: 1;
    transform: translateY(0);
  }
}

// Contact me
#contact {
  margin-top: 50px;
  padding-top: 60px;

  .instagram {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 1.4em;
    height: 30px;
  }
  .instagram::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/instagram.png);
    background-size: cover;
    margin-right: 6px;
  }
  .instagram:hover {
    color: blue;
  }

  .github {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 1.4em;
    height: 30px;
  }
  .github::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/github.png);
    background-size: cover;
    margin-right: 6px;
  }
  .github:hover {
    color: blue;
  }

  .gmail {
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-size: 1.4em;
    height: 30px;
  }
  .gmail::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/gmail.png);
    background-size: cover;
    margin-right: 6px;
  }
  .gmail:hover {
    color: blue;
  }

  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 40px;
    color: rgb(70, 70, 70);
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  }

  label {
    margin-top: 20px;
  }

  label,
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: inherit;
    border: 1px solid black;
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: lightseagreen;
    margin-top: 30px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: inherit;
  }

  button:hover {
    background-color: lightskyblue;
  }
}

// footer
footer {
  text-align: center;
  line-height: 30px;
  height: 30px;
  background-color: lightblue;
}
