@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  height: 5000px;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.box-shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.text-bold {
  font-weight: bold;
}

// navbar

.bg-nav {
  background-color: rgb(13, 202, 250);

  .nav-brand {
    text-decoration: none;
    color: rgb(70, 70, 70);
  }

  .list-menu {
    background-color: rgb(13, 202, 250);

    .home,
    .skill,
    .portfolio,
    .contact {
      text-decoration: none;
      color: rgb(70, 70, 70);
      margin: 0 8px;
    }
  }
}

// jumbotron
.hero {
  margin-top: 60px;
  padding-top: 5vh;
  height: 80vh;
  flex-direction: column;
  background-image: url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .profile {
    width: 200px;
    margin: 0 auto;
  }
}

// info panel
.info-panel {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -60px;
  padding: 30px;
  z-index: 2;
  opacity: 1;
  transition: 1.5s all;
  transform: translateY(0);

  .col-lg img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .col-lg h4 {
    font-size: 17px;
  }

  .col-lg p {
    font-size: 15px;
    color: rgb(160, 160, 160);
  }
}

.info-panel.appear {
  opacity: 0;
  transform: translateY(-500px);
}

// Skills
#skill {
  padding-top: 60px;

  .img-html,
  .img-css,
  .img-js {
    opacity: 0;
    transform: translateX(-200px);
    transition: 0.5s all;
  }

  .info-html,
  .info-css,
  .info-js {
    opacity: 0;
    transform: translateX(200px);
    transition: 0.5s all;
  }

  .img-html.appear,
  .img-css.appear,
  .img-js.appear {
    opacity: 1;
    transform: translateX(0);
  }

  .info-html.appear,
  .info-css.appear,
  .info-js.appear {
    opacity: 1;
    transform: translateX(0);
  }
}
