@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  height: 5000px;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.box-shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.text-bold {
  font-weight: bold;
}

// Color Variable
$nav-bg: rgb(13, 202, 250);
$nav-text: rgb(70, 70, 70);

// navbar

.bg-nav {
  background-color: $nav-bg;

  .nav-brand {
    text-decoration: none;
    color: $nav-text;
  }

  .list-menu {
    background-color: $nav-bg;

    .home,
    .skill,
    .portfolio,
    .contact {
      text-decoration: none;
      color: $nav-text;
      margin: 0 8px;
    }
  }
}

// jumbotron
.hero {
  margin-top: 60px;
  padding-top: 5vh;
  height: 80vh;
  flex-direction: column;
  background-image: url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .profile {
    width: 200px;
    margin: 0 auto;
  }
}

// info panel
.info-panel {
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -40px;
  padding: 30px;
  z-index: 2;

  .col-lg img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .col-lg h4 {
    font-size: 17px;
  }

  .col-lg p {
    font-size: 15px;
    color: #acacac;
  }
}
